.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.keyboard {
    height: 50vh;
    width: 55vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid black;
    gap: 0.25rem;
}

#key_backspace {
    grid-column: 11/13;
    font-size: 0.8rem;
}

#key_capslock {
    grid-column: 10/13;
}

#key_shift {
    grid-column: 10/13;
}

#key_enter {
    grid-column: 11/13;
}

#key_ok {
    grid-column: 11/13;
}

#key_space {
    grid-column: 1/11;
}
.sup_number{
    margin-left: 5px;
    font-size: 1rem;
    color: rgb(182, 190, 228);
    /* transform: scale(1.5); */
}
.sup_number_active {
    /* background-color: yellow; */
    /* color: black; */
    transform: scale(1.3);
}
.key_number_active{
    transform: scale(0.5);
}
.key,
.key_bs,
.key_cl,
.key_e,
.key_s {
    border: 1px solid rgb(224, 208, 208);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(29, 24, 24);
    font-size: 1.4rem;
    box-shadow: -1px 1px 9px 6px rgba(0, 0, 0, 0.356);
    -webkit-box-shadow: -1px 1px 9px 6px rgba(0, 0, 0, 0.356);
    -moz-box-shadow: -1px 1px 9px 6px rgba(0, 0, 0, 0.356);
    line-break: anywhere;
}

.key:active,
.key_bs:active,
.key_cl:active,
.key_e:active,
.key_s:active {
    box-shadow: none;
}



textarea {
    width: 60rem;
    font-size: 1.5rem;
    border: 2px solid rgb(206, 35, 197);
    background: rgb(240, 247, 254);
    background: linear-gradient(90deg, rgba(240, 247, 254, 0.8) 30%, rgba(182, 175, 250, 0.7413340336134453),
    rgba(0, 212, 255, 0.9) 60%, rgba(0, 212, 255, 0.99) 80%);
    border-radius: 8px;
}



.hidden {
    display: none;
}

#key_capslock,
#key_shift {
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width:400px) {

    
    .key_bs,
    .key_cl,
    .key_e,
    .key_s {
        font-size: 0.6rem;
        /* height: fit-content; */
    }
    /* .key{ */
        /* width: fit-content; */
    /* } */
    .key_number, .sup_number{
        /* width: 1rem; */
        font-size: 0.5rem;
    }
    
    .key_bs,
    .key_cl,
    .key_e,
    .key_s {
    line-break: anywhere;
    /* font-weight: 300; */
    /* width: max-content; */
        /* width: 3rem; */
    }

    textarea {
        width: 15rem;
        height: 10rem;
    }

    .keyboard {
        font-size: 1rem;
        height: max-content;
        gap: 1px;
        width: 100%;
    }

}
@media only screen and (min-width: 450px) and (max-width: 950px) {

    .key,
    .key_bs,
    .key_cl,
    .key_e,
    .key_s {
        font-size: 1.4rem;
    }

    .key_bs,
    .key_cl,
    .key_e,
    .key_s {
        font-weight: 500;
    }

    textarea {
        width: 40rem;
        height: auto;
    }

    .keyboard {
        font-size: 1rem;
        height: 17rem;
        gap: 1px;
        width: 100%;
    }

}


@media only screen and (min-width: 300px) and (max-width: 450px)  {


    .key,
    .key_bs,
    .key_cl,
    .key_e,
    .key_s {
        font-size: smaller;
    }

    .key_bs,
    .key_cl,
    .key_e,
    .key_s {
        font-weight: 100;
    }

    textarea {
        width: 20rem;
        height: auto;
    }

    .keyboard {
        font-size: 1rem;
        height: 10rem;
        gap: 1px;
        width: 100%;
    }

}

#key_capslock {
    text-align: center;
}

.toLowerText {
    text-transform: lowercase;
}

.toUpperText {
    text-transform: uppercase;
}

.active {
    background-color: yellow;
    color: black;
}

#show_keyboard {
    color: rgb(49, 49, 168);
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

.dark_theme_keyboard {
    filter: invert(100%);
}

.dark_theme_body {
    background-color: rgb(31, 28, 28);
    color: white;
}

.switch_theme {
    margin-right: 70%;
}



.switch_theme label {
    background-color: rgb(94, 122, 248);
    border: 2px solid rgb(85, 85, 85);
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 6.1rem;
    height: 3rem;
}

.switch_theme label::after {
    background-color: rgb(9, 40, 180);
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: all ease-in-out 0.3s;
    width: 3rem;
    height: 3rem;
    box-shadow: 0px 7px 3px 1px rgba(0,0,0,0.85);
-webkit-box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.85);
-moz-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.85);
}

.switch_theme input[type=checkbox]:checked~label {
    background-color: rgb(105, 104, 104);
  
}

.switch_theme input[type=checkbox]:checked~label::after {
    transform: translateX(50px);
    background-color: rgb(54, 54, 54);
    box-shadow: 0px 7px 13px 1px rgba(0,0,0,0.85);
-webkit-box-shadow: 0px 7px 13px 1px rgba(0,0,0,0.85);
-moz-box-shadow: 0px 7px 13px 1px rgba(0,0,0,0.85);

}

.switch_theme input[type=checkbox] {
    display: none;
}
.switch_theme p {
    font-family: monospace;
}